<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="example-config">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="ARCHIVE">${LOG_DIR}</Property>
        <!--        <Property name="PATTERN">%d %-5level [%t] %c:%M(%L): %m%n</Property> -->
        <Property name="PATTERN">%d %-5level %c:%M(%L): %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="fileWriter"
                     fileName="${LOG_DIR}/esmeclient.log"
                     filePattern="${LOG_DIR}/esmeclient.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="fileWriter"/>
        </Root>
        <Logger name="com.andrew_flower.example.Log4j2Example1" level="TRACE" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="com.andrew_flower.example.Other" level="ERROR" additivity="true"/>
    </Loggers>
</Configuration>